* {
  font-family: Arial, sans-serif;
  color: darkslategrey;
  font-size: 17px;
}

img {
  width: 10rem;
  height: 8rem;
  border-radius: 80%;
}

.bold {
  font-weight: bold;
}

.line {
  text-decoration: underline blue;
  color: blue;
  cursor: pointer;
}

#break-text {
  width: 600px;
}


h1 {
  font-size: 30px;
  color: darkblue;
}

h2 {
  background-color: lightskyblue;
  color: darkblue;
  font-size: 24px;
}


.text-center {
  text-align: center;
}


a {
  text-decoration: none;
  
}

a li {
  color: darkblue
}